body{
  font-family: MicroSoft YaHei;
  padding-top: 60px;
}

.test1{
  min-height: 1000px;
  min-width: 300px;
  
  border: 1px solid;
}

.c_navbar_fixed{
  position: fixed;
  width: 100%;
  border: 0;
}

.c_navbar_fixed ul{
  float: left;
}

.c_navbar_fixed li{
  float: left;
  list-style-type: none;
  position: relative;
}
