body{
  font-family: MicroSoft YaHei;
  padding-top: 60px;
}

.c_body_centered{
  position: relative;
  width: 960px;
  left: 50%;
  margin-left: -480px;
}

.test1{
  min-height: 1000px;
  width: 100%;
  border: 1px solid;
}

.c_navbar_fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: grey;
  z-index: 999;
}

.c_navbar_fixed ul{
  float: left;
}

.c_navbar_fixed li{
  float: left;
  list-style-type: none;
}

.c_navbar_fixed a{
  display: block;
  text-decoration: none;
  border: 3px;
  border-color: transparent;
  padding: .2em .5em;
}
