html{
  height: 100%;
}

body{
  font-family: MicroSoft YaHei;
  padding-top: 60px;
  margin: 0;
  min-width: 960px;
  min-height: 800px;

  font-size: 20px;
}

a{
  text-decoration: none;
}

.c_body_centered{
  position: relative;
  /*min-height: calc(100% - 60px);
  min-height: -webkit-calc(100% - 60px);
  min-height: -moz-calc(100% - 60px);
  min-height: -o-calc(100% - 60px);*/
  min-height: inherit;
  width: 950px;
  left: 50%;
  margin-left: -480px;

  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.c_navbar_fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 999;

  border-left: 5px solid rgb(128, 128, 128);
  background-color: rgb(255, 255, 255);
  min-width: 480px;
}

.c_navbar_fixed ul{
  float: left;
}

.c_navbar_fixed li{
  float: left;
  list-style-type: none;
}

.c_navbar_fixed a{
  display: block;
  border: 3px;
  border-color: transparent;
  padding: .2em .5em;

  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/*.c_navbar_fixed a:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}*/

.c_footer{
  width: 100%;
  background-color: rgb(248, 248, 248);
  min-height: 300px;
}

.c_footer_table{
  position: relative;
  left: calc(50% - 480px);
  left: -webkit-calc(50% - 480px);
  left: -moz-calc(50% - 480px);
  left: -o-calc(50% - 480px);
  display: table;
  min-height: inherit;
}

.c_footer_table #cfl{
  float: left;
  width: 520px;
  min-height: inherit;
  background-color: rgb(216, 216, 216);
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: rgb(168, 168, 168);
}

.c_footer_table #cfr{
  float: left;
  width: 360px;
  min-height: inherit;
  background-color: rgb(168, 168, 168);
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: rgb(255, 255, 255);
}

.c_footer_table ul{
  margin: 0;
  padding: 0;
}

.c_footer_table li{
  list-style-type: none;
  padding: 5px 0;
}

.c_footer_table a{
  padding: .2em .5em;
}

.c_footer_table li #cfr_title{
  padding-bottom: 5px;
}

/*
Make all 'hover' here;
*/
.c_navbar_fixed a:hover,
.c_opus #c_opus_bp #opus_url a:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);

  transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -o-transition: color .25s ease-in-out;
}

.c_footer_table #cfr a:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(168, 168, 168);

  transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -o-transition: color .25s ease-in-out;
}

/*
2013.8.2
display each opus;
tp for top part;
bp for bottom part;
*/
.c_opus{
  padding-right: 10px;
  padding-bottom: 10px;
}

.c_opus #c_opus_tp{
  font-size: 2em;
}

.c_opus #c_opus_bp{
  padding-top: 5px;
  padding-left: 30px;
}

.c_opus #c_opus_bp #opus_url{
  padding-top: 5px;
}

.c_opus #c_opus_bp #opus_url{
  color: rgb(0, 0, 0);
}

.c_opus #c_opus_bp #opus_url a{
  padding: .2em .5em;
}

.c_opus #c_opus_bp #opus_desc{
  padding: .2em .5em;
  word-wrap: break-word;
}

.c_opus #c_opus_bp #opus_mod_date{
  float: right;
  font-size: 0.8em;
  color: rgb(216, 216, 216);
}
